src/main/resources/com.bookmarkanator.xml/SettingsStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name='settings'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name='setting' type='setting' minOccurs='0'
                            maxOccurs='unbounded'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="setting">
        <xs:sequence>
            <xs:element name="key" type="xs:string" minOccurs='1'
                        maxOccurs='1'/>
            <xs:element name="value" type="xs:string" minOccurs='1'
                        maxOccurs='unbounded'/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>